In [1]:
!pip install mysql-connector-python
import mysql.connector as connector

Requirement already satisfied: mysql-connector-python in c:\users\jevge\anaconda3\lib\site-packages (9.0.0)

In [2]:
try:
    connection = connector.connect(user="user", password="cats&dogs", db = "LittleLemonDB")
    cursor = connection.cursor()
    cursor.execute("SHOW TABLES;")
    results = cursor.fetchall()
    print("Tables: ", results)
except connector.Error as err:
    print("Error:", err)

Tables:  [('Bookings',), ('Customers',), ('DeliveryStatus',), ('MenuItems',), ('Menus',), ('Orders',), ('ordersview',), ('Staff',)]

In [10]:
customer_data_query = """
SELECT Customers.FullName AS 'Full Name', Customers.Country, Customers.City, Customers.PostalCode AS 'Postal Code', Orders.TotalCost AS 'Bill Amount, $'
FROM Customers
INNER JOIN Orders ON Orders.CustomerID = Customers.CustomerID 
WHERE Orders.TotalCost > 60;
"""
cursor.execute(customer_data_query)
columns = [column[0] for column in cursor.description]
results = cursor.fetchall()
# Define a fixed column width
col_width = 20

# Print the headers
header = " | ".join(f"{col:<{col_width}}" for col in columns)
print(header)
print("-" * len(header))

# Print the rows
for row in results:
    print(" | ".join(f"{str(value):<{col_width}}" for value in row))

Full Name            | Country              | City                 | Postal Code          | Bill Amount, $
----------------------------------------------------------------------------------------------------------------
Laney Fadden         | China                | Daruoyan             | 993-0031             | 187.50
Giacopo Bramich      | North Korea          | Ongjin               | 216282               | 352.50
Tasia Fautly         | Libya                | Tobruk               | 351 01               | 112.50
Lia Bonar            | Peru                 | Quince Mil           | 663246               | 330.00
Merrill Baudon       | Japan                | Susaki               | 987-0352             | 480.00